:root {
  --main-bg-color: #000000;
  --main-primary-color: #ffffff;
  --main-secondary-color: #bbbbbb;
  --main-shadow-color: #555555;
  --max-body-width: 864px;
  --main-alert-color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--main-primary-color);
}

body {
  max-width: var(--max-body-width);
  padding: 20px;
  margin: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.7rem;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexbox-centering-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.profile-pic {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid var(--main-primary-color);
}

header {
  width: 320px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  line-height: 1.8rem;
  margin-bottom: 24px;
}

header * {
  text-align: center;
}

header h1 {
  font-size: 2.3rem;
}

header h2 {
  font-size: 1.5rem;
  color: var(--main-secondary-color);
}

.link-box-container {
  margin-bottom: 24px;
}

.link-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-bg-color);
  font-size: 1.5rem;
  padding: 4px 0;
  width: 180px;
  text-decoration: none;
  margin: 10px auto;
  background-color: var(--main-primary-color);
  color: var(--main-bg-color);
}

.link-box:hover {
  background-color: var(--main-secondary-color);
}

.download-link-container {
  max-width: 480px;
  margin: auto 0;
}

.download-link {
  width: 100%;
  margin: 6px 0;
  margin-left: 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.download-link-text {
  display: flex;
  align-items: center;
}

.download-link:hover .download-link-title {
  text-decoration: underline;
}

.download-link img {
  height: 22px;
  width: 22px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 6px;
}

.download-link .free {
  margin-right: 0;
  margin-left: 9px;
  opacity: 80%;
}

.free-icon {
  color: var(--main-alert-color);
  font-size: 12px;
  margin-left: 8px;
  text-decoration: none;
}